<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1Z8a44yG6CmlORfFxWg5njiR7YEaRIRE</string>
	<key>GCM_SENDER_ID</key>
	<string>26711865738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iustinov.flutterTodo</string>
	<key>PROJECT_ID</key>
	<string>todoflutter-46f27</string>
	<key>STORAGE_BUCKET</key>
	<string>todoflutter-46f27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26711865738:ios:c2de0140939bb78c59f073</string>
	<key>DATABASE_URL</key>
	<string>https://todoflutter-46f27-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>